{% extends "leaveman/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    
    <div class="col-xl-3 col-md-8 mb-2">
        <div class="card justify-content-center p-2">
            <form class="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-primary" name="_preview" type="submit">Preview</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-3 col-md-8 mb-2">
        <div class="card">
              <div class="row mt-2">
                <div class="col-md-2 col-2 text-left pl-4">
                      <p class="btn-floating primary-color ml-1"><i class="fas fa-list" aria-hidden="true"></i></p>
                </div>
                <div class="col-md-10 col-10 text-right pr-5">
                    <h5 class="ml-2 mt-2 mb-2">Personal Leave</h5>
                    <p class="font-small grey-text"> Taken : {{ tpl }}<br/>Remaining : {{ rpl }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-8 mb-2">
        <div class="card">
              <div class="row mt-2">
                <div class="col-md-2 col-2 text-left pl-4">
                      <a class="btn-floating primary-color ml-1"><i class="fas fa-list" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-10 col-10 text-right pr-5">
                    <h5 class="ml-2 mt-2 mb-2">Sick Leave</h5>
                    <p class="font-small grey-text"> Taken : {{ tsl }}<br/>Remaining : {{ rsl }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-8 mb-2">
        <div class="card">
              <div class="row mt-2">
                <div class="col-md-2 col-2 text-left pl-4">
                      <a class="btn-floating primary-color ml-1"><i class="fas fa-list" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-10 col-10 text-right pr-5">
                    <h5 class="ml-2 mt-2 mb-2">Loss of Pay</h5>
                    <p class="font-small grey-text"> Taken : {{ tlop }}</p>
                    <br/>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-12 mb-4">
        <ul class="nav md-tabs nav-justified bg-primary">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-toggle="tab" href="#myHistory" role="tab">History</a>
            </li>
        </ul>
        <form method="POST">
            {% csrf_token %}
        <div class="tab-content card">
            <div class="tab-pane table-responsive fade in show active" id = "myHistory" role = "tabpanel">
                <button class="btn btn-sm blue-gradient float-right p-2" type="submit" name = "_csubmit">Cancel</button>
                <a class="btn btn-sm blue-gradient float-right p-2" type="button" name = "_selectall" id="select_all">Select All</a>
                <table id="history" class="table table-striped mt-2 mb-2" style="width:100%">
                    <thead>
                        <tr>
                            <th class="font-weight-bold"><strong>From Date</strong></th>
                            <th class="font-weight-bold"><strong>Days</strong></th>
                            <th class="font-weight-bold"><strong>Reason</strong></th>
                            <th class="font-weight-bold"><strong>Action</strong></th>
                            <th class="font-weight-bold"><strong>Approval Status</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leave in leaves %}  
                        <tr>
                            <td>{{leave.from_date}}</td>
                            {% if 'HD' in leave.reason %}
                                <td>{{leave.get_leave_period_display}}</td>
                            {% elif leave.reason == 'MATER' %}
                                <td>180.0</td>
                            {% else %}
                                <td>{{leave.num_days}}</td>
                            {% endif %}
                            <td>{{leave.get_reason_display}}</td>
                            {% if leave.isin_future %}
                                {% if leave.cancelled == True %}
                                    <td>cancelled</td>
                                {% else %}
                                <td>
                                    {% if leave.isin_future %}
                                    <div class="form-check">
                                    <input type="checkbox" class="form-check-input filled-in" value="{{leave.id}}" id="{{leave.id}}" name="approved">
                                    <label class="form-check-label" for="{{leave.id}}"></label>
                                    </div>
                                    {% endif %}
                                </td>
                                {% endif %} 
                            {% else %}
                                <td>
                                    <a class="badge badge-success p-2"><i class="fas fa-check"></i></a> 
                                </td>
                            {% endif %}
                            {% if leave.approved == True %}
                                <td>Approved</td>
                            {% else %}
                                <td>Waiting</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>   
    </div>
</div>
{% endblock content %} 
